.sound {
  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    margin: 16px 0 40px;

    @include on-tablet {
      font-size: 24px;
      margin: 16px 0 56px;
    }

    @include on-desktop {
      font-size: 24px;
      margin: 16px 0 56px;
    }
  }

  &__section {
    &__image {
      display: grid;
      column-gap: 20px;

      --columns: 2;

      grid-template-columns: repeat(var(--columns), 1fr);

      @include on-tablet {
        --columns: 6;

        column-gap: 24px;
      }

      @include on-desktop {
        --columns: 12;

        column-gap: 24px;
      }
    }

    &__link {
      display: block;
      grid-column: span 1;
      position: relative;

      @include on-tablet {
        grid-column: span 3;
      }

      @include on-desktop {
        grid-column: span 6;
      }
    }
  }

  &__image {
    width: 100%;
    aspect-ratio: 498 / 324;
    object-fit: cover;
    border-radius: 4px;
    background: #F9F9F9;
    grid-column: span 1;
    height: auto;
    min-height: 130px;

    @include on-tablet {
      aspect-ratio: 288 / 184;
      min-height: 184px;
    }

    @include on-desktop {
      aspect-ratio: 498 / 324;
      min-height: 324px;
    }
  }

  &__button {
    width: 280px;
    height: 56px;
    background-color: #F98921;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    line-height: 27px;
    margin: 0 auto;
    cursor: pointer;

    &:hover {
      color: white;
      background-color: #1B2129;
    }

    &:active {
      color: white;
      background-color: black;
    }

    @include on-tablet {
      width: 600px;
      margin: 0 auto;
    }

    @include on-desktop {
      width: 324px;
      margin: 0;
    }
  }
}

