.timeless {
  --columns: 1;

  display: grid;
  gap: 0;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 6;

    column-gap: 24px;
  }

  @include on-desktop {
    --columns: 12;

    column-gap: 32px;
  }

  &__image {
    grid-column: 1 / -1;
    grid-row: 1;
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(-1 * (100vw - 100%) / 2);
    display: block;
    object-fit: cover;
    object-position: center;
    height: auto;
    aspect-ratio: 16/9;

    @include on-tablet {
      aspect-ratio: 16/7;
    }

    @include on-desktop {
      aspect-ratio: 16/6;
    }

    &:hover {
      transform: none;
      cursor: default;
    }
  }

  &__title {
    margin: 0;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 7;
    }
  }

  &__content {
    grid-column: 1/-1;
    grid-row: 2;
    background: #FCFAEF;
    margin-left: calc(-1 * (100vw - 100%) / 2);
    margin-right: calc(-1 * (100vw - 100%) / 2);
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);

    padding-block: 48px;
    padding-inline: 16px;
    align-items: start;
    row-gap: 32px;

    @include on-tablet {
      --columns: 6;

      column-gap: 24px;
      padding: 120px 72px 120px 73px;
    }

    @include on-desktop {
      --columns: 12;

      column-gap: 32px;
      padding: 120px;
    }
  }

  &__description {
    margin: 0;
    padding: 0;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: 8 / 13;
    }
  }
}
