.top-bar {
  padding-block: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__logo {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.3s ease;

    img {
      width: 152px;
      height: 16px;
      display: block;
    }

    &:hover {
      @include hover(transform, scale(1,2));
      @include hover(transform, 0.3s);
    }

    @include on-tablet {
      img {
        width: 228px;
        height: 24px;
      }
    }

    @include on-desktop {
      img {
        width: 228px;
        height: 24px;
      }
    }
  }

  &__logo-link {
    display: flex;

    img {
      width: 152px;
      height: 16px;
      display: block;
    }

    &:hover {
      @include hover(transform, scale(1.05));
      @include hover(transform, 0.3s);
    }

    @include on-tablet {
      img {
        width: 228px;
        height: 24px;
      }
    }

    @include on-desktop {
      img {
        width: 228px;
        height: 24px;
      }
    }
  }
}
