.top-bar {
  padding-block: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 16px;
    width: 152px;

    @include hover(transform, scale(1,2));
    @include hover(transform, 0.3s);

    @include on-tablet {
      height: 24px;
      width: 228px;
    }

    @include on-desktop {
      height: 24px;
      width: 228px;
    }
  }
}


